rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /employees/{employeeId} {
      allow read, write: if true;
    }

    match /admins/{adminId} {
      allow read, write: if true;
    }

    match /settings/{settingId} {
      allow read, write: if true;
    }

    match /test/{testId} {
      allow read, write: if true;
    }
  }
}
